<main class="main_register">
     <div class="section_form">
        <div class="content">
            <form id="formulario">
            <label class="labelBox" for="first_name">Nombre:</label>
            <input class="inputBox" type="text" id="first_name" name="first_name">
            <label class="labelBox" for="last_name">Apellido:</label>
            <input class="inputBox" type="text" name="last_name" id="last_name">
            <label class="labelBox" for="age">Edad:</label>
            <input class="inputBox" type="number" id="age" name="age">
            <label class="labelBox" for="email">Email:</label>
            <input class="inputBox" type="email" id="email" name="email">
            <label class="labelBox" for="password">Contraseña:</label>
            <input class="inputBox" type="password" id="password" name="password">
            <input class="submitButton" type="submit" value="Enviar">
            <div id="response"></div>
        </form>
        </div>
    </div>
    <div>
        <h3>Si estás registrado, inicia sesión <a href="/login">AQUÍ</a></h3>
    </div>
    <div id="response"></div>
</main>
<script src="/js/register.js"></script>